/* ==========================================================================
  #TABLE
  ========================================================================== */

table {
  text-align: center;

  th {
    padding: 0.5rem 1.5rem;

    background: $grey-lighter;
    border-right: 0.1rem solid $grey;

    &:last-child {
      border-right: none;
    }
  }

  tr {
    &:nth-child(odd) {
      background: $grey-lighter;
    }
  }

  td {
    padding: 0.5rem 1.5rem;

    border-right: 0.1rem solid $grey;

    font-size: $font-size-sm;

    &:last-child {
      border-right: none;
    }
  }
}
