/* ==========================================================================
   #LINKS
   ========================================================================== */

a {
  color: $font-family-main;
  text-decoration: underline;

  transition: color 0.3s;

  &:hover {
    color: $color-main;
  }
}
