/* ==========================================================================
  #TEXT
  ========================================================================== */

sub,
sup {
  color: $grey-darker;
  font-size: $font-size-sm;
}

p {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}
