// ==========================================================================
// Margin / Padding
// ==========================================================================

@mixin m-a($margin-top, $margin-right: $margin-top, $margin-bottom: $margin-top, $margin-left: $margin-right) { margin: $margin-top*1rem $margin-right*1rem $margin-bottom*1rem $margin-left*1rem; }

@mixin m-v($margin-top, $margin-bottom: $margin-top) { margin-top: $margin-top * 1rem; margin-bottom: $margin-bottom * 1rem; }

@mixin m-h($margin-left, $margin-right: $margin-left) { margin-left: $margin-left * 1rem; margin-right: $margin-right * 1rem; }

@mixin m-t($value) { margin-top: $value * 1rem; }

@mixin m-r($value) { margin-right: $value * 1rem; }

@mixin m-b($value) { margin-bottom: $value * 1rem; }

@mixin m-l($value) { margin-left: $value * 1rem; }

@mixin p-a($padding-top, $padding-right: $padding-top, $padding-bottom: $padding-top, $padding-left: $padding-right) { padding: $padding-top*1rem $padding-right*1rem $padding-bottom*1rem $padding-left*1rem; }

@mixin p-v($padding-top, $padding-bottom: $padding-top) { padding-top: $padding-top * 1rem; padding-bottom: $padding-bottom * 1rem; }

@mixin p-h($padding-left, $padding-right: $padding-left) { padding-left: $padding-left * 1rem; padding-right: $padding-right * 1rem; }

@mixin p-t($value) { padding-top: $value * 1rem; }

@mixin p-r($value) { padding-right: $value * 1rem; }

@mixin p-b($value) { padding-bottom: $value * 1rem; }

@mixin p-l($value) { padding-left: $value * 1rem; }
